*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    height: 1343px; 
    
}

header{
    margin: auto;
    width: 100%;
    height: 67%;
    background-image: url(/image/image\ header.png) ;
    background-size: 100%;
}

footer{
    margin: auto;
    width: 100%;
    height: 33%;
    border: solid #1F2041 1px;
}